@page "/Samples/DialogDemo"

<h1>Hello, world!</h1>

Welcome to your new app.

<hr />

<Dialog Title="블레이저">
    Do you want to <i>learn more</i> about Blazor?
</Dialog>

<Dialog Title="블레이저2">
    Do you want to
    <i>learn more</i> about Blazor?
</Dialog>
